"*":
  Hydrogen:
    outputAreaDefault: true
  "atom-beautify":
    general:
      _analyticsUserId: "612bf46a-7894-4f9e-be2b-d4d953d4db5d"
    python:
      default_beautifier: "yapf"
      formatter: "yapf"
  "atom-ide-ui":
    "debugger-exceptionBreakpointsCollapsed": false
  "bracket-matcher":
    highlightMatchingLineNumber: true
  core:
    customFileTypes:
      "source.toml": [
        "Pipfile"
      ]
    disabledPackages: [
      "language-python"
      "markdown-preview"
      "linter"
    ]
    telemetryConsent: "limited"
    themes: [
      "nord-atom-ui"
      "atom-material-syntax"
    ]
    titleBar: "custom-inset"
  editor:
    fontFamily: "SourceCodePro-Regular"
    fontSize: 15
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "398656ad-bdc9-4e13-a07b-e0802dc96add"
  "ide-python":
    pylsPlugins:
      yapf:
        enabled: true
  "language-babel":
    autoIndentJSX: true
    emmetCSSAutocomplete: true
  linter: {}
  "linter-ui-default":
    panelHeight: 225
  "markdown-preview-enhanced":
    enableZenMode: true
    openPreviewPaneAutomatically: false
    previewTheme: "vue.css"
  "markdown-preview-plus":
    enableLatexRenderingByDefault: true
  "nord-atom-ui":
    darkerFormFocusEffect: true
    tabSizing: false
  "seti-syntax":
    themeColor: "Steel"
  "vim-mode-plus":
    ignoreCaseForSearch: true
    useSmartcaseForSearch: true
    wrapLeftRightMotion: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".latex.tex.text":
  editor:
    softWrap: true
".makefile.source":
  editor:
    tabLength: 4
    tabType: "hard"
".matlab.source":
  editor:
    tabLength: 4
".plain.text":
  editor:
    softWrap: true
".python.regexp.source":
  editor:
    tabLength: 4
".python.source":
  editor:
    tabLength: 4
